<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills Inventory</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= image_tag('sillinventorylogo.png') %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
